---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-lavender-blush">
		<h1 class="text-deep-raspberry text-4xl font-bold">Astro</h1>
        <div class="w-20 h-20 bg-vivid-pink rounded-full"></div>
	</body>
</html>
